App_WebReferences/paymentService/CreditService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="UpdateCustomerCredit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="creditNumber" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="lastDigits" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="toPay" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="dt" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="expDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCustomerCreditResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateCustomerCreditResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UpdateCustomerCreditSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateCustomerCredit" />
  </wsdl:message>
  <wsdl:message name="UpdateCustomerCreditSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateCustomerCreditResponse" />
  </wsdl:message>
  <wsdl:portType name="CreditServiceSoap">
    <wsdl:operation name="UpdateCustomerCredit">
      <wsdl:input message="tns:UpdateCustomerCreditSoapIn" />
      <wsdl:output message="tns:UpdateCustomerCreditSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CreditServiceSoap" type="tns:CreditServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateCustomerCredit">
      <soap:operation soapAction="http://tempuri.org/UpdateCustomerCredit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CreditServiceSoap12" type="tns:CreditServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateCustomerCredit">
      <soap12:operation soapAction="http://tempuri.org/UpdateCustomerCredit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CreditService">
    <wsdl:port name="CreditServiceSoap" binding="tns:CreditServiceSoap">
      <soap:address location="http://localhost:50578/CreditService.asmx" />
    </wsdl:port>
    <wsdl:port name="CreditServiceSoap12" binding="tns:CreditServiceSoap12">
      <soap12:address location="http://localhost:50578/CreditService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>